.joboffersPage {
  margin-bottom: 30px;
}
.joboffersPage .headerTitle {
  text-transform: capitalize;
  height: 25px;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  color: var(--color-f-primary);
  margin-bottom: 10px;
}
.joboffersPage .offerDetails {
  margin-bottom: 20px;
}
.joboffersPage .offerDetails .offerCard {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  background: #fff;
  position: relative;
}
.joboffersPage .offerDetails .offerCard::after {
  content: "";
  width: 2px;
  position: absolute;
  background-color: #868686;
  height: 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.joboffersPage .offerDetails .offerCard .headerTitle {
  text-align: center;
}
.joboffersPage .offerDetails .offerCard .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.joboffersPage .offerDetails .offerCard .content .number {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 48px;
}
.joboffersPage .offerDetails .offerCard .content .description {
  color: #b3b3b3;
  font-size: 16px;
}
.joboffersPage .offerDetails button {
  width: 100%;
}
.joboffersPage .offerDetails .incomingInterviews .interviewsCard {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
}
.joboffersPage .offerDetails .incomingInterviews .interviewsCard .date {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #fff;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  width: 80px;
  height: 80px;
}
.joboffersPage .offerDetails .incomingInterviews .interviewsCard .content h3 {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}
.joboffersPage .offerDetails .incomingInterviews .interviewsCard .content p {
  color: #b3b3b3;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}
.joboffersPage .offerDetails .incomingInterviews .interviewsCard .content a {
  color: var(--color-primary);
}
.joboffersPage .jobList .addNew {
  background: var(--color-primary);
  color: #fff;
  border-radius: 6px;
  padding: 10px 20px;
}
.joboffersPage .jobList .selectItems {
  margin: 30px 0;
}
.joboffersPage .jobList .selectItems .name {
  color: #313030;
}
.joboffersPage .jobList .selectItems select {
  background: var(--color-card);
  box-shadow: none;
}
.joboffersPage .jobList .selectItems .mainButton {
  width: 120px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
}
.joboffersPage .tableS1 .logo {
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.joboffersPage .tableS1 .logo .editIcon {
  position: absolute;
  top: 5px;
  left: 5px;
}
.joboffersPage .tableS1 .logo .editIcon svg {
  cursor: pointer;
}
.joboffersPage .tableS1 .logo input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.joboffersPage .tableS1 ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  color: var(--color-f-primary);
}
.joboffersPage .tableS1 ul li span {
  width: 5px;
  height: 5px;
  background-color: #313030;
  display: inline-block;
  border-radius: 100%;
}

.addJobofferPage .uploadFileBox {
  height: 199px;
  background: rgba(31, 144, 255, 0.1);
  border: 1px dashed #066163;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.addJobofferPage .uploadFileBox .title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #1e2022;
  margin-bottom: 4px;
}
.addJobofferPage .uploadFileBox .des {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #868686;
}
.addJobofferPage .uploadFileBox .uploadInput {
  width: -moz-fit-content;
  width: fit-content;
  margin: 16px auto;
}
.addJobofferPage .uploadFileBox input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.addJobofferPage .uploadFileBox .fileSize {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #77838f;
}